.custom-carousel {
    height: 100vh;
    width: 100vw;
    
}

.custom-carousel .carousel-inner {
    height: 100%;
}

.custom-carousel .carousel-item {
    height: 100%;
}

.custom-carousel img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.header-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    overflow-x: hidden;
    width: 100vw;
}

.header-caption h1{
   
    font-size: 45px;
    font-family: 'Kanit';
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    font-weight: 200;
}

.header-caption h2{
   
    font-size: 29px;
    font-family: 'Kanit';
    text-shadow: 2px 2px 2px rgba(0, 0, 0,1);
    font-weight: 200;
}

@media (min-width: 768px) {
    .header-caption {
        top: 90%;
    }
    .header-caption h1{
        font-size: 35px
    }
    
    .header-caption h2{
        font-size: 27px;
    }
}

@media (min-width: 992px) {
    .header-caption {
        top: 88%;
    }

    .header-caption h1{
        font-size: 45px
    }
    
    .header-caption h2{
        font-size: 35px;
    }
}