.navbar{
    background: rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; 

}

.navbar.visible{
    background: rgba(0, 0, 0, 1);
    background-color: #555555;
    transition: 0.5s;

}

.navLink{
    text-decoration: none;
    font-family: 'Kanit';
    color: white;
    font-size: 24px;
}

.navLink:hover{
    opacity: 0.5;
    transition: 0.5s;
}



@media (min-width: 768px) {
    .navLink{
        margin-right: 25px;
        font-size: 20px;
    }
    .navbar{
        height: 60px;
    }
  }