#contacto-title{
    padding-top: 40px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 50px;
    font-family: 'kanit';
}

.tel{
    color: rgb(31, 51, 44);
    text-decoration: none;
}

.contacto-subtitle{
    margin-bottom: 20px;
    font-family: 'kanit';
}

.contactoText {
    margin-bottom: 10px;
}

.map{
    margin-top: 50px;
    height: 400px;
}

.contacto-cont {
    background-color: #E3CD80;
    color: #1F332C;
    margin-top: 40px;
    font-family: 'kanit';
}

@media (min-width: 768px) {
    #contacto-title{
        padding-top: 40px;
    }
}